<button type="button" class="reveal-app-block-btn" data-target="#app-block-{{ block.id }}" aria-expanded="false">
    Rezerviraj sada
</button>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".reveal-app-block-btn").forEach(button => {
            button.addEventListener("click", () => {
                console.log(button, button.dataset.target)
                const target = document.querySelector(button.dataset.target);
                console.log(target)
                if (!target) return;

                const expanded = target.classList.toggle("expanded");
                target.classList.toggle("collapsed", !expanded);

                button.setAttribute("aria-expanded", expanded);

            });
        });
    });
</script>