<div class="flex justify-between mt-10"></div>

{% schema %}
{
  "name": "Content Menu",
  "tag": "section",
  "class": "section section-skin-types",
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Content Menu"
    }
  ]
}
{% endschema %}
