<div class="flex justify-between mt-10">
  <div class="flex gap-2">
    <div>
      <img url="{{ 'menu_dermalogica.png' | asset_url }}" width="450" height="435">
    </div>
    <div>
      <img url="{{ 'menu_jane.png' | asset_url }}" width="450" height="435">
    </div>
    <div>
      <img url="{{ 'menu_nutrition.png' | asset_url }}" width="450" height="435">
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Content Menu",
  "tag": "section",
  "class": "section section-skin-types",
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Content Menu"
    }
  ]
}
{% endschema %}
