<div class="joinclub flex w-full">
  <div class="flex flex-col">
    <h2>DermaCare Club</h2>
    <div>Uključite se u naš program vjernosti! Nagrađujemo svaku vašu kupnju LC bodovima i testerima.</div>
  </div>
</div>

{% schema %}
{
  "name": "Join the club",
  "tag": "section",
  "class": "section section-join-club",
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Join club"
    }
  ]
}
{% endschema %}
