<div class="joinclub flex mb-20">
  <div class="flex flex-col justify-evenly px-10 py-6">
    <div class="joinclub-logo flex items-center gap-2 h-[30px]">
      <svg xmlns="http://www.w3.org/2000/svg" width="249" height="57" viewBox="0 0 249 57" fill="none">
        <path d="M177.859 23.8694C176.979 16.3842 170.817 12.2793 163.401 12.2793C152.964 12.2793 146.929 19.7646 146.929 29.3024C146.929 38.5987 153.089 46.084 163.401 46.084C171.571 46.084 177.356 40.8925 178.109 32.9242H171.068C170.566 37.1498 167.927 40.1682 163.526 40.1682C156.861 40.1682 154.474 34.7352 154.474 29.4231C154.474 23.7487 156.988 18.4365 163.526 18.4365C167.171 18.4365 170.441 20.8511 170.817 24.1109H177.859V23.8694ZM248.14 35.2182C248.643 28.095 244.619 21.3341 236.321 21.3341C228.904 21.3341 223.875 26.6462 223.875 33.6487C223.875 40.8925 228.653 45.9632 236.321 45.9632C241.854 45.9632 245.751 43.6693 247.637 38.1156H241.727C241.35 39.5644 239.088 41.1339 236.447 41.1339C232.801 41.1339 230.664 39.323 230.538 35.2182H248.14ZM187.665 29.1816C187.916 26.6462 189.55 25.6804 192.066 25.6804C194.454 25.6804 196.341 26.0427 196.341 28.8195C196.341 31.4754 192.569 31.3547 188.42 31.8378C184.27 32.3206 180.121 33.6487 180.121 38.9608C180.121 43.79 183.767 45.9632 188.42 45.9632C191.437 45.9632 194.454 45.2388 196.592 43.0657C196.592 43.79 196.843 44.6352 197.095 45.3595H203.883C203.255 44.3937 203.003 42.3412 203.003 40.1682V27.9743C203.003 22.4206 197.22 21.3341 192.317 21.3341C186.911 21.3341 181.252 23.1451 180.875 29.1816H187.665ZM128.07 29.1816C128.322 26.6462 129.956 25.6804 132.471 25.6804C134.859 25.6804 136.745 26.0427 136.745 28.8195C136.745 31.4754 132.973 31.3547 128.824 31.8378C124.676 32.3206 120.527 33.6487 120.527 38.9608C120.527 43.79 124.173 45.9632 128.824 45.9632C131.842 45.9632 134.859 45.2388 136.997 43.0657C136.997 43.79 137.249 44.6352 137.5 45.3595H144.289C143.661 44.3937 143.409 42.3412 143.409 40.1682V27.9743C143.409 22.4206 137.626 21.3341 132.723 21.3341C127.316 21.3341 121.658 23.1451 121.281 29.1816H128.07ZM59.2977 35.2182C59.8005 28.095 55.7772 21.3341 47.4794 21.3341C40.0614 21.3341 35.0322 26.6462 35.0322 33.6487C35.0322 40.8925 39.8099 45.9632 47.4794 45.9632C53.0112 45.9632 56.9088 43.6693 58.7947 38.1156H52.8855C52.5084 39.5644 50.2452 41.1339 47.605 41.1339C43.9589 41.1339 41.8214 39.323 41.6958 35.2182H59.2977ZM207.529 45.2388H214.192V34.7352C214.192 30.6304 215.828 27.2499 220.732 27.2499C221.485 27.2499 222.491 27.3706 223.119 27.4913V21.5755C222.742 21.4548 222.114 21.3341 221.611 21.3341C218.342 21.3341 215.074 23.3865 213.816 26.2841V21.9378H207.529V45.2388ZM80.0426 45.2388H86.8319V31.7171C86.8319 27.1292 89.9751 26.4048 91.3579 26.4048C95.6328 26.4048 95.3813 29.5438 95.3813 32.1999V45.2388H102.045V32.3206C102.045 29.4231 102.799 26.4048 106.445 26.4048C110.217 26.4048 110.468 28.9402 110.468 32.0792V45.2388H117.132V29.6645C117.132 23.628 113.486 21.3341 108.205 21.3341C104.811 21.3341 102.296 23.1451 100.913 25.1975C99.656 22.4206 96.8899 21.3341 93.8726 21.3341C90.7294 21.3341 88.2149 22.7829 86.4547 25.0767H86.329V21.9378H80.0426V45.2388ZM62.315 45.2388H69.1043V34.7352C69.1043 30.6304 70.7387 27.2499 75.6421 27.2499C76.3965 27.2499 77.4023 27.3706 78.031 27.4913V21.5755C77.6537 21.4548 77.0252 21.3341 76.5223 21.3341C73.2534 21.3341 69.9845 23.3865 68.7271 26.2841H68.6014V21.9378H62.315V45.2388ZM3.09766 45.2388H17.5561C27.7401 45.2388 32.7692 38.3572 32.7692 28.9402C32.7692 18.3158 26.2313 13.1244 17.5561 13.1244H3.09766V45.2388ZM196.341 36.3047C196.341 37.7535 196.215 41.617 190.935 41.617C188.797 41.617 186.911 41.0132 186.911 38.5987C186.911 36.3047 188.796 35.5803 190.809 35.2182C192.819 34.8559 195.209 34.8559 196.341 33.8901V36.3047ZM136.745 36.3047C136.745 37.7535 136.495 41.617 131.339 41.617C129.202 41.617 127.316 41.0132 127.316 38.5987C127.316 36.3047 129.202 35.5803 131.214 35.2182C133.225 34.8559 135.614 34.8559 136.745 33.8901V36.3047ZM10.5154 19.0402H15.796C23.0881 19.0402 25.477 23.1451 25.477 29.6645C25.477 36.7877 21.4538 39.323 17.1791 39.323H10.5154V19.0402ZM230.538 31.1133C230.664 29.3024 231.795 26.1634 236.07 26.1634C239.339 26.1634 240.721 27.8536 241.35 31.1133H230.538ZM41.8214 31.1133C41.9474 29.3024 43.0788 26.1634 47.3535 26.1634C50.6223 26.1634 52.0054 27.8536 52.6342 31.1133H41.8214Z" fill="#5C6670"/>
      </svg>
      <svg class="mt-2" xmlns="http://www.w3.org/2000/svg" width="87" height="31" viewBox="0 0 87 31" fill="none">
        <path d="M76.3469 8.48715C82.1837 8.48715 86.8348 12.6741 86.8348 19.6384C86.8348 26.6028 82.1837 30.7897 76.3469 30.7897C72.6076 30.7897 70.4189 29.2144 69.0509 27.5977H68.9596V30.2093H65.3116V0.569336H68.9596V11.8035H69.0509C70.4189 9.97952 72.6076 8.48715 76.3469 8.48715ZM75.982 27.8879C80.77 27.8879 83.1868 23.7839 83.1868 19.6384C83.1868 15.493 80.77 11.389 75.982 11.389C71.65 11.389 68.9596 14.6639 68.9596 19.6384C68.9596 24.613 71.65 27.8879 75.982 27.8879Z" fill="#5C6670"/>
        <path d="M57.0884 9.06934H60.7364V30.2112H57.0884V27.6824H56.9972C55.766 29.1748 53.3036 30.7915 49.3364 30.7915C45.0956 30.7915 41.5388 28.6773 41.5388 23.8272V9.06934H45.1868V22.9981C45.1868 25.7341 46.6004 27.8897 50.2484 27.8897C54.3524 27.8897 57.0884 25.5268 57.0884 22.2519V9.06934Z" fill="#5C6670"/>
        <path d="M33.3173 0.569336H36.9653V30.2093H33.3173V0.569336Z" fill="#5C6670"/>
        <path d="M25.475 10.3539C24.8822 7.53496 22.511 3.3066 15.7166 3.3066C7.96465 3.3066 4.72705 9.40042 4.72705 15.3699C4.72705 21.3808 7.96465 27.4746 15.7166 27.4746C22.5566 27.4746 25.2015 23.2462 25.475 19.5153H29.5791C28.8495 26.0651 23.7423 30.791 15.7166 30.791C6.77905 30.791 0.623047 24.3241 0.623047 15.3699C0.623047 6.45715 6.77905 -0.00976562 15.7166 -0.00976562C23.6966 -0.00976562 28.8039 4.71605 29.5791 10.3539H25.475Z" fill="#5C6670"/>
      </svg>
    </div>
    <div class="joinclub-text flew-grow">
      Uključite se u naš program vjernosti! Nagrađujemo svaku vašu kupnju LC bodovima i testerima.
    </div>
    <a href="/" class="button-dark mt-4"> Više informacija </a>
  </div>
</div>

{% schema %}
{
  "name": "Join the club",
  "tag": "section",
  "class": "section section-join-club",
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Join club"
    }
  ]
}
{% endschema %}
