<section class="">
  <div class="page-width section-{{ section.id }}-padding">Skin types</div>
</section>

{% schema %}
{
  "name": "Skin types",
  "tag": "section",
  "class": "section section-skin-types",
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Skin types"
    }
  ]
}
{% endschema %}
