<div class="flex flex-col lg:flex-row justify-between lg:mt-10 lg:pt-20 mx-6 lg:mx-0 lg:border-t">
  <div class="flex flex-col">
    <h2>Kakva je vaša koža?</h2>
    <div>Odaberite stanje i pronađite odgovarajuće proizvode i savjete</div>
  </div>
  <div class="lg:divide-x skin-types-listing">
    <div class="skin-type-item">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
          <path d="M31 61C47.5685 61 61 47.5685 61 31C61 14.4315 47.5685 1 31 1C14.4315 1 1 14.4315 1 31C1 47.5685 14.4315 61 31 61Z" fill="white" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M4.40234 27.5664H57.6008" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M12.3577 35.7191C15.5867 31.4825 19.5714 33.1084 23.6249 36.2C27.6783 39.2917 30.3005 42.7039 27.0714 46.9405C23.8424 51.1771 17.9226 52.0932 13.8577 48.9901C9.79282 45.8871 9.1287 39.9558 12.3577 35.7191Z" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M35.1463 55.5279C32.5928 50.6043 34.4707 47.4898 37.6424 44.9936C41.1463 42.234 48.7722 39.4058 54.2112 44.2379" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M34.4699 36.4382C33.8058 34.858 33.9088 33.3008 36.073 32.3962C38.2371 31.4916 41.6493 31.5718 42.3134 33.1634C42.9775 34.7435 41.7523 36.7702 39.5882 37.6748C37.4241 38.5679 35.134 38.0183 34.4699 36.4382Z" stroke="#5C6670" stroke-miterlimit="10"/>
        </svg>
      </div>
      <div>Neujednačen ten</div>
    </div>
    <div class="skin-type-item">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
          <path d="M31 61C47.5685 61 61 47.5685 61 31C61 14.4315 47.5685 1 31 1C14.4315 1 1 14.4315 1 31C1 47.5685 14.4315 61 31 61Z" fill="white" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M4.40234 27.5664H57.6008" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M31.3086 33.3008V55.5374" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M41.043 33.3008V50.9573" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M50.7734 33.3008V42.942" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M21.5781 33.3008V50.9573" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M11.8438 33.3008V42.942" stroke="#5C6670" stroke-miterlimit="10"/>
        </svg>
      </div>
      <div>Suha koža</div>
    </div>
    <div class="skin-type-item">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="62" height="64" viewBox="0 0 62 64" fill="none">
          <path d="M31 63C47.5685 63 61 49.1208 61 32C61 14.8792 47.5685 1 31 1C14.4315 1 1 14.8792 1 32C1 49.1208 14.4315 63 31 63Z" fill="white" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M38.3053 44.2674C40.3163 44.2674 41.9465 42.5828 41.9465 40.5048C41.9465 38.4268 40.3163 36.7422 38.3053 36.7422C36.2943 36.7422 34.6641 38.4268 34.6641 40.5048C34.6641 42.5828 36.2943 44.2674 38.3053 44.2674Z" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M12.5421 46.9427C13.6677 46.9427 14.5802 45.9997 14.5802 44.8366C14.5802 43.6734 13.6677 42.7305 12.5421 42.7305C11.4164 42.7305 10.5039 43.6734 10.5039 44.8366C10.5039 45.9997 11.4164 46.9427 12.5421 46.9427Z" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M36.5889 55.2239C37.7146 55.2239 38.6271 54.281 38.6271 53.1178C38.6271 51.9547 37.7146 51.0117 36.5889 51.0117C35.4633 51.0117 34.5508 51.9547 34.5508 53.1178C34.5508 54.281 35.4633 55.2239 36.5889 55.2239Z" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M23.2467 38.3044C23.7842 38.3044 24.22 37.8541 24.22 37.2987C24.22 36.7432 23.7842 36.293 23.2467 36.293C22.7092 36.293 22.2734 36.7432 22.2734 37.2987C22.2734 37.8541 22.7092 38.3044 23.2467 38.3044Z" fill="#5C6670" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M24.3952 52.5036C24.9327 52.5036 25.3684 52.0534 25.3684 51.4979C25.3684 50.9425 24.9327 50.4922 24.3952 50.4922C23.8576 50.4922 23.4219 50.9425 23.4219 51.4979C23.4219 52.0534 23.8576 52.5036 24.3952 52.5036Z" fill="#5C6670"/>
          <path d="M50.5241 36.9685C51.0616 36.9685 51.4973 36.5182 51.4973 35.9628C51.4973 35.4073 51.0616 34.957 50.5241 34.957C49.9865 34.957 49.5508 35.4073 49.5508 35.9628C49.5508 36.5182 49.9865 36.9685 50.5241 36.9685Z" fill="#5C6670"/>
          <path d="M4.40234 28.4492H57.6008" stroke="#5C6670" stroke-miterlimit="10"/>
        </svg>
      </div>
      <div>Akne i izbijanja</div>
    </div>
    <div class="skin-type-item">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
          <path d="M31 61C47.5686 61 61 47.5685 61 31C61 14.4315 47.5686 1 31 1C14.4315 1 1 14.4315 1 31C1 47.5685 14.4315 61 31 61Z" fill="white" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M4.77734 27.5664H57.9758" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M13.0577 39.0724C14.1833 39.0724 15.0959 38.1599 15.0959 37.0343C15.0959 35.9086 14.1833 34.9961 13.0577 34.9961C11.932 34.9961 11.0195 35.9086 11.0195 37.0343C11.0195 38.1599 11.932 39.0724 13.0577 39.0724Z" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M31.378 39.0724C32.5037 39.0724 33.4162 38.1599 33.4162 37.0343C33.4162 35.9086 32.5037 34.9961 31.378 34.9961C30.2524 34.9961 29.3398 35.9086 29.3398 37.0343C29.3398 38.1599 30.2524 39.0724 31.378 39.0724Z" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M49.6983 39.0724C50.824 39.0724 51.7365 38.1599 51.7365 37.0343C51.7365 35.9086 50.824 34.9961 49.6983 34.9961C48.5727 34.9961 47.6602 35.9086 47.6602 37.0343C47.6602 38.1599 48.5727 39.0724 49.6983 39.0724Z" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M22.5147 50.5451C23.6404 50.5451 24.5529 49.6326 24.5529 48.5069C24.5529 47.3813 23.6404 46.4688 22.5147 46.4688C21.3891 46.4688 20.4766 47.3813 20.4766 48.5069C20.4766 49.6326 21.3891 50.5451 22.5147 50.5451Z" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M39.6904 50.5451C40.816 50.5451 41.7286 49.6326 41.7286 48.5069C41.7286 47.3813 40.816 46.4688 39.6904 46.4688C38.5647 46.4688 37.6522 47.3813 37.6522 48.5069C37.6522 49.6326 38.5647 50.5451 39.6904 50.5451Z" stroke="#5C6670" stroke-miterlimit="10"/>
        </svg>
      </div>
      <div>Masna koža</div>
    </div>
    <div class="skin-type-item">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
          <path d="M31 61C47.5685 61 61 47.5685 61 31C61 14.4315 47.5685 1 31 1C14.4315 1 1 14.4315 1 31C1 47.5685 14.4315 61 31 61Z" fill="white" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M4.40234 27.5664H57.6007" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M16.125 16.8242L25.457 22.2059" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M31 8.21484V18.9782" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M45.8711 16.8242L36.5391 22.2059" stroke="#5C6670" stroke-miterlimit="10"/>
        </svg>
      </div>
      <div>Osjetljiva koža</div>
    </div>
    <div class="skin-type-item">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
          <path d="M31 61C47.5685 61 61 47.5685 61 31C61 14.4315 47.5685 1 31 1C14.4314 1 1 14.4315 1 31C1 47.5685 14.4314 61 31 61Z" fill="white" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M4.40234 27.5664H57.6008" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M15.8164 43.9766H46.1828" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M51.877 35.7773H10.1289" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M26.6953 52.1836H36.4167" stroke="#5C6670" stroke-miterlimit="10"/>
        </svg>
      </div>
      <div>Znakovi starenja kože</div>
    </div>
    <div class="skin-type-item">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
          <path d="M31 61C47.5685 61 61 47.5685 61 31C61 14.4315 47.5685 1 31 1C14.4314 1 1 14.4315 1 31C1 47.5685 14.4314 61 31 61Z" fill="white" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M14.1712 40.9176C14.1712 41.1094 14.0157 41.265 13.8239 41.265C13.6321 41.265 13.4766 41.1095 13.4766 40.9176C13.4766 40.7258 13.6321 40.5703 13.8239 40.5703C14.0157 40.5703 14.1712 40.7258 14.1712 40.9176Z" fill="#231F20" stroke="#5C6670"/>
          <path d="M25.6205 40.9176C25.6205 41.1094 25.4649 41.265 25.2731 41.265C25.0813 41.265 24.9258 41.1095 24.9258 40.9176C24.9258 40.7258 25.0813 40.5703 25.2731 40.5703C25.4649 40.5703 25.6205 40.7258 25.6205 40.9176Z" fill="#231F20" stroke="#5C6670"/>
          <path d="M37.0736 40.9176C37.0736 41.1094 36.9181 41.265 36.7262 41.265C36.5344 41.265 36.3789 41.1095 36.3789 40.9176C36.3789 40.7258 36.5344 40.5703 36.7262 40.5703C36.9181 40.5703 37.0736 40.7258 37.0736 40.9176Z" fill="#231F20" stroke="#5C6670"/>
          <path d="M48.5228 40.9176C48.5228 41.1094 48.3673 41.265 48.1754 41.265C47.9836 41.265 47.8281 41.1095 47.8281 40.9176C47.8281 40.7258 47.9836 40.5703 48.1754 40.5703C48.3673 40.5703 48.5228 40.7258 48.5228 40.9176Z" fill="#231F20" stroke="#5C6670"/>
          <path d="M4.77734 27.5664H57.9759" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M39.5664 15.9883L46.6198 33.7593" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M28.1133 15.9883L35.1667 33.7593" stroke="#5C6670" stroke-miterlimit="10"/>
          <path d="M19.8978 48.9294C19.8978 49.1212 19.7423 49.2767 19.5504 49.2767C19.3586 49.2767 19.2031 49.1212 19.2031 48.9294C19.2031 48.7375 19.3586 48.582 19.5504 48.582C19.7423 48.582 19.8978 48.7376 19.8978 48.9294Z" fill="#231F20" stroke="#5C6670"/>
          <path d="M31.347 48.9294C31.347 49.1212 31.1915 49.2767 30.9997 49.2767C30.8078 49.2767 30.6523 49.1212 30.6523 48.9294C30.6523 48.7375 30.8078 48.582 30.9997 48.582C31.1915 48.582 31.347 48.7376 31.347 48.9294Z" fill="#231F20" stroke="#5C6670"/>
          <path d="M42.7962 48.9294C42.7962 49.1212 42.6407 49.2767 42.4489 49.2767C42.2571 49.2767 42.1016 49.1212 42.1016 48.9294C42.1016 48.7375 42.2571 48.582 42.4489 48.582C42.6407 48.582 42.7962 48.7376 42.7962 48.9294Z" fill="#231F20" stroke="#5C6670"/>
          <path d="M19.8978 32.9137C19.8978 33.1055 19.7423 33.2611 19.5504 33.2611C19.3586 33.2611 19.2031 33.1056 19.2031 32.9137C19.2031 32.7219 19.3586 32.5664 19.5504 32.5664C19.7423 32.5664 19.8978 32.7219 19.8978 32.9137Z" fill="#231F20" stroke="#5C6670"/>
        </svg>
      </div>
      <div>Brijanje i depilacija</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Skin types",
  "tag": "section",
  "class": "section section-skin-types",
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Skin types"
    }
  ]
}
{% endschema %}
