<div class="flex flex-col lg:flex-row justify-between lg:mt-10 lg:pt-20 mx-[20px] lg:mx-0 lg:border-t">
  <div class="flex flex-col">
    <h2>Kakva je vaša koža?</h2>
    <div>Odaberite stanje i pronađite odgovarajuće proizvode i savjete</div>
  </div>
  <div class="lg:divide-x skin-types-listing">
    {% for skin in shop.metaobjects.skin_type.values %}
      {% assign random_number = 'now' | date: '%N' | modulo: 10000 | plus: min %}
      <a href="/pages/nase-preporuke?code={{ skin.code }}&type={{ random_number }}">
        <div class="skin-type-item">
          <div><img src="{{ skin.icon | image_url }}"></div>
          <div>{{ skin.type }}</div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Skin types",
  "tag": "section",
  "class": "section section-skin-types",
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Skin types"
    }
  ]
}
{% endschema %}
