/* src/partners.module.css */
.partners_box {
  margin-top: 30px;
}
.partners_button {
  display: inline-block;
  text-align: center;
  background-color: #D9D9D9;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #1B1B1B;
}
.partners_button:hover {
  background-color: #C9C9C9;
}
.partners_section {
  margin-top: 50px;
}
.partners_search {
  width: 200px;
  border: none;
  background-color: #f7f7f7;
}
.partners_search {
  padding: 8px 12px 8px 12px;
  border-radius: 3px;
  font-size: 14px;
  margin-left: 20px;
  min-width: 300px;
}
.partners_search:focus {
  outline: none;
  box-shadow: none;
}
.partners_filter_type_box {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 500px) {
  .partners_filter_type_box {
    width: 100%;
  }
  .partners_filter_type_box > div:first-child {
    flex-grow: 1;
  }
}
.partners_infoIcon {
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #626262;
  border-radius: 100%;
  background-color: #D9D9D9;
  width: 20px;
  height: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.partners_modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.partners_modalBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.partners_modalContent {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  border-radius: 5px;
  box-shadow: 0 0 10px #e1e1e1;
  max-height: 80vh;
  overflow-y: auto;
}
.partners_modalCloseBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.partners_modalCloseBtn svg {
  width: 30px;
  height: 30px;
}
.partners_partnerTypeGrid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 30px;
}
.partners_partnerTypeGrid h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.partners_partnerType {
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
}
.partners_partnerTypeTitle {
  grid-column: span 2;
  font-size: 22px;
  color: rgb(var(--color-foreground));
}
.partners_filterContainer {
  margin-bottom: 15px;
}
.partners_filters {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 15px;
  gap: 5px;
}
.partners_resetAllBtn {
  font-size: 12px;
  margin-left: 20px;
}
.partners_subtypesLabel {
  margin-right: 20px;
}
.partners_subtypesLabel[data-disabled=true] {
  color: #ccc;
}
.partners_badges {
  margin: 5px 0 10px 0;
}
.partners_badges img {
  margin-top: 10px;
}
.partners_partnersListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.partners_partnerCard {
  font-size: 12px;
  padding: 15px;
  width: 180px;
  box-shadow: 0 0 10px #e1e1e1;
  margin: 10px 10px 10px 0;
}
.partners_cardTitle {
  font-size: 14px;
  font-weight: bold;
}
.partners_popupContainer {
  position: relative;
  color: #1B1B1B;
  display: flex;
  gap: 30px;
  padding: 10px;
}
.partners_popupDetails {
  flex-grow: 1;
}
.partners_popupTitle {
  font-size: 14px;
  margin: 1rem 0 5px 0;
  font-weight: bold;
}
.partners_popupAddress {
  margin-bottom: 20px;
}
.partners_popupTret {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 20px 0;
}
.partners_popupTret a {
  text-decoration: underline;
}
.partners_typeFilter {
  min-width: 300px;
}
@media (max-width: 768px) {
  .partners_typeFilter {
    width: 300px;
  }
  .partners_modalContent {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    max-height: none;
  }
  .partners_button {
    width: 100%;
  }
  .partners_filters {
    flex-direction: column;
    align-items: flex-start;
  }
  .partners_treatmentFilter {
    width: 100% !important;
    margin-top: 5px;
    margin-left: 0px !important;
  }
  .partners_typeFilter {
    width: 100% !important;
    margin: 0 !important;
  }
  .partners_resetAllBtn {
    margin-left: 0px !important;
  }
  .partners_search {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .partners_partnersListContainer {
    justify-content: space-evenly;
  }
  .partners_partnerCard {
    width: 40%;
    margin: 10px 20px 10px 0px;
  }
  .partners_popupContainer {
    flex-direction: column;
  }
}

/* src/samples.module.css */
:root {
  --primary-accent: #5D94D6;
}
.samples_container {
  overflow-y: hidden;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 40vw;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 35px;
  border-left: 1px solid #eee;
  background-color: #F5F5F5;
  color: #333;
}
.samples_linkbutton {
  cursor: pointer;
  color: #5D94D6;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.samples_linkbutton:hover {
  text-decoration: underline;
}
.samples_box {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.samples_bluelink {
  color: #5D94D6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.samples_width100 {
  width: 100%;
}
.samples_boxbluelink {
  border: none;
  padding: 10px 20px;
  background-color: var(--primary-accent);
  color: white;
  cursor: pointer;
}
.samples_compact {
  padding: 7px 10px;
}
.samples_boxbluelink:hover {
  background-color: #3487EB;
}
.samples_boxlink {
  text-transform: uppercase;
  border: 1px solid #5b6670;
  padding: 10px 20px;
  background-color: #fff;
  cursor: pointer;
}
.samples_boxlink:hover {
  background-color: #5b6670;
  color: #fff;
}
.samples_pointsInput input {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #CFCFCF;
  outline: none;
  box-shadow: none;
}
.samples_containerInfoBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media (max-width: 1000px) {
  .samples_container {
    width: 100vw;
  }
  .samples_containerInfoBox {
    flex-direction: column;
  }
  .samples_sampleButton {
    margin-top: 10px;
    position: unset !important;
  }
}
.samples_overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.5);
  backdrop-filter: blur(5px);
  overscroll-behavior: none;
}
.samples_overlay:empty {
  display: block;
}
.samples_closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  color: #777;
  background-color: transparent;
}
.samples_closeBtn:hover {
  color: #333;
  transform: rotate(-5deg);
}
.samples_search {
  padding: 10px;
  border: none;
  width: 100%;
  margin: 0 0 15px 0;
}
.samples_loyaltyPoints {
  text-transform: uppercase;
  font-size: 12px;
  white-space: nowrap;
}
.samples_loyaltyPoints b {
  font-size: 14px;
}
.samples_points {
  margin: 0;
}
.samples_container ul {
  margin: 0;
  padding: 0;
}
.samples_container ul li {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}
.samples_container h3 {
  margin: 0 0 10px 0;
  font-weight: bold;
  color: #222;
}
.samples_samplesList {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100% - 120px);
  overscroll-behavior: none;
}
.samples_footer {
  position: static;
  bottom: 0;
}
.samples_sampleCard {
  position: relative;
  font-size: 12px;
  width: 100%;
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px #ddd;
  border: 2px solid transparent;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.samples_sampleCard.samples_inCart {
  border: 2px solid var(--primary-accent) !important;
}
.samples_sampleCard.samples_noPoints {
  opacity: 0.5;
}
.samples_sampleButton {
  position: absolute;
  top: 15px;
  right: 15px;
}
.samples_sampleButton img {
  vertical-align: middle;
  margin-left: 10px;
  width: 16px;
}
.samples_sampleImage {
  width: 80px;
  height: 80px;
  background-color: #eee;
}
.samples_sampleImage:empty {
  display: block;
}
.samples_sampleDetails {
  margin-left: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.samples_sampleName {
  text-transform: capitalize;
  font-weight: bold;
}
.samples_errorBox {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
  background-color: white;
  box-shadow: 0 2px 8px #999;
  border-radius: 3px;
  color: #333;
  z-index: 100;
  max-width: 800px;
  font-size: 16px;
}
.samples_errorCloseBtn {
  position: absolute;
  top: 8px;
  right: 8px;
}
@media screen and (max-width: 768px) {
  .samples_errorBox {
    width: 90%;
    padding: 30px;
  }
}
.samples_samplePoints {
}
.samples_sampleDescription {
}
.samples_font10 {
  font-size: 10px;
}
.samples_loyaltyPoints p {
  font-size: 14px;
}
.samples_loyaltyPoints p b {
  font-size: 30px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .samples_box {
    flex-direction: column;
  }
  .samples_freeSamplesBox {
    padding-bottom: 35px;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
  .samples_freeSampleButton {
    width: 100%;
  }
  .samples_loyaltyPointsBox {
    width: 100%;
    padding: 20px 0 30px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  .samples_loyaltyPoints {
    text-align: center;
  }
  .samples_pointsInput {
    display: flex;
    justify-content: center;
  }
}
