/* TEMP MOBILE DEV */

@media screen and (max-width: 749px) {
  /* section[id*="21432662327628__slideshow_bAA7XY"],
  section[id*="featured_collection"],
  section[id*="skin_types"],
  section[id*="content_menu"],
  section[id*="multicolumn"],
  section[id*="featured_blog"],
  section[id*="newsletter"], */
  div[id*="__footer"]{
    display: none;
  }
}


h1{
  font-family: 'neue_montrealregular', sans-serif;
  font-size: 64px;  
  line-height: 120%;
  letter-spacing: -1%;
  color: var(--headers-black);
}

h2{
  font-family: 'neue_montrealregular', sans-serif;
  font-size: 48px;  
  line-height: 120%;
  letter-spacing: -1%;
  color: var(--headers-black);
}

h3{
  font-family: 'neue_montrealregular', sans-serif;
  font-size: 28px;  
  line-height: 120%;
  letter-spacing: -1%;
  color: var(--headers-black);
}

h4{
  font-family: 'neue_montrealregular', sans-serif;
  font-size: 14px;  
  line-height: 120%;
  font-weight: 500;
  letter-spacing: -1%;
  color: var(--headers-black);
}

/* Multi column but not .title (in collection listing) */
h3.inline-richtext:not(.title){
  color: var(--antracite);
  font-size: 16px;
  font-weight: bold;
}

.multicolumn-card__info p{
  font-size: 14px;
}

.p24{
  font-size: 24px;
}

p{
  font-family: 'neue_montrealregular', sans-serif;
  font-size: 20px;  
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--antracite);
}

@media screen and (max-width: 749px) {
  h2{
    font-size: 28px;
  }

  p{
    font-size: 16px;
  }
}



.banner__text p{
  color: var(--headers-black);
}

#MainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 990px) {
  section.section {
    width: 1380px;
  }
}

@media screen and (max-width: 749px) {
  .section{
    /* padding: 0 20px 0 20px; */
  }

  /* important to avoid slideshow goes over screen width */
  .slider-mobile-gutter{
    padding: 0 15px 0 15px;
    width: calc(100vw - 0px);
  }
}

.collection__description p{
  font-size: 16px;
}

@media screen and (min-width: 990px) {
  .header:not(.drawer-menu).page-width {
      padding-left: 0rem;
      padding-right: 0rem;
  }

  .header--middle-left {
    grid-template-columns: 1fr auto 1fr;

    /* custom */
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(92, 102, 112, 0.20);;
  }
}

.mega-menu{
  user-select: none;
}

.slideshow{
  border-radius: 12px;
}

.slideshow__controls{
  border: none !important;
}

.glass-effect {
  background-color: rgba(255, 255, 255, 0.1);
  /* background-color: red; */
  backdrop-filter: blur(10px);
  width: 444px;

  top: 0;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 749px) {
  .glass-effect {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;

    width: auto;
    height: 250px;
  }
}

.button-dark{
  width: fit-content;
  border-radius: 135px;
  border: 1.35px solid rgba(57, 64, 71, 0.22);
  background: #394047;
  color: white;
  padding: 10px 24px;
  align-items: center;
}

.banner__buttons .button{
  background-color: white;
  color: rgb(var(--color-foreground));
}

.quick-add__submit.button:hover,
.banner__buttons .button:hover{
  background-color: var(--off-white);
}

.banner__buttons .button:after,
.banner__buttons .button:before,
.banner__buttons .button:hover{
  box-shadow: none !important;
}


/* Collection listing */

/* Product title in listing, desktop&mobile */
.card__heading{
  text-align: center;
  text-transform: capitalize;
}
/* Price info */
.collection-container .price__container{
  display: flex;
  justify-content: center;
  align-items: center;    
}

/* DESKTOP */
@media screen and (min-width: 980px) {
  .collection-container{
    display: flex;
    gap: 60px;
    justify-content: space-between;
  }

  .collection-container .collection__title{
    width: 414px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  /* only hide first level button  */
  .collection-container > .collection__view-all{
    display: none;
  }

  .collection-container .price__container .price-item{
    font-size: 14px;
    font-weight: 700;
    color: var(--antracite);
  }

  .collection.flex-row-reverse .grid__item::after,
  .collection:not(.flex-row-reverse) .grid__item::before{
    content: '';
    border-left: 1px solid var(--hr-silver);
    width: 1px;
    /* background-color: var(--hr-silver); */
    height: 216px;
    display: block;
    position: absolute;
    top: 17px;
    z-index: 1;
    left: -30px;
  }

  
  .collection.flex-row-reverse .grid__item::after{
    left: auto;
    right: -30px;
  }

  .grid__item{
    position: relative;
  }

  .grid.product-grid{
    gap: 56px;
  }
}

/* MOBILE */
@media screen and (max-width: 749px) {
  .collection-container > .collection__view-all a{
    width: 95%;
  }

  .collection-container .collection__title .collection__view-all{
    display: none;
  }
}

/* Skin types section */
.skin-types-listing{
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  color: var(--antracite);
  font-size: 14px;
}

.skin-type-item{
  width: 110px;
  /* height: 115px; */
  padding: 5px 20px 5px 20px;  
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.skin-type-item:hover{
  background-color: var(--off-white);
}

@media screen and (max-width: 749px) {
  .skin-types-listing{
    justify-content: center;
  }

  .skin-type-item{
    width: 90px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 15px 5px 15px;  
  }
}

/* .skin-type-item::after{
  content: '';
  border-left: 1px solid var(--hr-silver);
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  z-index: 1;
  right: -15px;
}

.skin-type-item:last-child::after{
  display: none;
} */


/* Multicolumn */

@media screen and (max-width: 749px) {
  .multicolumn-list > *{
    border-bottom: 1px solid var(--hr-silver);
  }

  .multicolumn-list > *:last-child{
    /* leave the last item border to visual sep. from the next section */
    /* border-bottom: none; */
  }
}


/* Content Menu Section */

.content-menu-item{
  border-radius: 12px;
}

.content-menu-item > h2{
  margin: 30px 0 20px 0;
}

.content-menu-item > ul li{
  display: flex;
  color: var(--antracite);
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--hr-silver);
  padding: 14px 0 14px 0;
  cursor: pointer;
}

.content-menu-item > ul li:hover{
  background-color: var(--off-white);
}

/* Blog posts */

.blog-listing{
  display: flex;
  gap: 20px;
  justify-content: space-between;  
}

.blog-listing > div{
  width: 313px;
}

.article-card__image{
  border-radius: 12px;
}


@media screen and (min-width: 980px) {
  .blog__post{
    width: 333px;
  }

  .title-wrapper-with-link{
    border-top: 1px solid var(--hr-silver);
    padding-top: 25px;

    display: flex;
    align-content: space-between;
  }

  .blog-listing .blog__view-all{
    display: none;
  }

  .blog-listing .card__heading{
    text-align: left;
    text-transform: inherit;
  }

  .article-card__excerpt{
    font-size: 18px;
  }
}

/* MOBILE: Blog listing */
@media screen and (max-width: 749px) {
  .blog-listing{
    /* padding: 0 20px 0 20px; */
    flex-direction: column;
  }

  .blog-listing .blog__view-all,
  .blog-listing .blog__view-all a{
    width: 95%;
  }

  .title-wrapper-with-link > a.button{
    display: none;
  }

  .article-more-info-btn{
    display: none;
  }
}


/* Join the club section */

.joinclub{
  background-image: url('./dermacare_club.png');
  background-repeat: no-repeat;
  border-radius: 12px;
  width: 100%;
  min-height: 230px;
  padding: 20px 20px 20px 20px;
}

.joinclub-text{
  font-size: 24px;
}

@media screen and (max-width: 749px) {
  .joinclub{
    width: calc(100vw - 40px);
    /* width: 200px; */
  }

  .joinclub-text{
    font-size: 16px;
  }
  
  .joinclub-logo{
    transform: scale(0.7);
    transform-origin: top left;
  }
}