.newsletter__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-top: 90px;
  height: 441px;
  background-image: url('./newsletter_bg.png');
  background-position: bottom;
  border-radius: 12px;


  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}

.newsletter__wrapper > *{
  text-align: left;
  max-width: 425px;
}

.newsletter__wrapper .field::before,
.newsletter__wrapper .field::after{
  box-shadow: none;
}

.newsletter__wrapper .field {
  border: none;
  outline: none;
  width: 430px;
}

@media screen and (max-width: 749px) {
  .newsletter__wrapper{
    height: auto;
    margin: 0 15px 0 15px;
  }

  .newsletter__wrapper h2{
    margin-top: 40px;
  }

  .newsletter-form__field-wrapper{
    margin-bottom: 40px;
  }

  .newsletter-form__field-wrapper,
  .newsletter__wrapper .field,
  .newsletter__wrapper .field input{
    width: 100%;
  }
}

.newsletter__wrapper .field__input {
}

.newsletter__subheading p{
  font-size: 16px;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

/* .newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
} */

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
