.app-block.collapsed {
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  transition: max-height 0.5s ease;
}

.app-block.expanded {
  max-height: 1000px; /* or use JS to calculate scrollHeight */
  visibility: visible;
  transition: max-height 0.5s ease;
}